.main {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 24px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 36px;
  margin-top: 104px;
}

.card_blocks {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.filter_block {
  max-height: calc(100vh - 104px);
  overflow-y: auto;
  position: sticky;
  top: 104px;
}
