.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 36px;
  margin-top: 104px; /* На высоту фиксированной шапки */
}

.button {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: start;
  color: var(--grey-deep-color);
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.02em;
}

.button span::first-letter {
  text-transform: capitalize;
}

.skill_content {
  width: 100%;
  display: grid;
  grid-template-columns: 324px 1fr;
  gap: 24px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.same_offers {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.same_offers h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.01em;
}

.no_results_title {
  font-size: 20px;
}