.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg-color);
  text-decoration: none;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 36px 36px 20px 36px;
  gap: 32px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

.logo span {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.01em;
  padding-right: 7px;
}

.header_part_left {
  display: flex;
  gap: 24px;
}

.button {
  display: flex;
  text-wrap: nowrap;
  gap: 4px;
  align-items: center;
  position: relative;
  transition: color 0.3s ease;
  text-decoration: none;
}

.header_part_right {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header_part_right:has(.header_logged_in) {
  gap: 20px;
}

.header_logged_in {
  display: flex;
  gap: 24px;
}

.header_logged_in .button {
  gap: 8px;
}

.icons {
  display: flex;
  gap: 20px;
}

.profile__image {
  width: 48px;
  height: 48px;
}

.profile__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.header_logged_out {
  display: flex;
  gap: 8px;
}

.button_primary {
  border: 1px solid var(--accent-redesigned);
  border-radius: 12px;
  padding-inline: 27px;
  transition: border-color 0.3s ease;
  background-color: var(--accent-background);
}

.button_primary:hover {
  border-color: var(--button-hover-color);
}

.button_primary:active {
  border-color: var(--interaction-color);
}

.button_secondary {
  border-radius: 12px;
  padding-inline: 23.5px;
  background-color: var(--accent-redesigned);
  transition: background-color 0.3s ease;
}

.button_secondary:hover {
  background-color: var(--button-hover-color);
}

.button_secondary:active {
  background-color: var(--interaction-color);
}

.close_button {
  gap: 8px;
  background-color: var(--accent-background);
  border-radius: 12px;
  padding: 12px 24px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.close_button:hover {
  color: rgba(37, 48, 23, 0.75);
  border-color: rgba(37, 48, 23, 0.75);
}

.close_button:active {
  color: inherit;
  border-color: inherit;
}
