.img_container {
  align-self: center;
}

.img_profile {
  width: 60px;
  height: 60px;
  align-self: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding-block-end: 50px;
  margin-top: 104px; /* На высоту фиксированной шапки */
}

.general {
  display: flex;
  flex-direction: row;
  gap: 24px;
  /* stylelint-disable-next-line font-family-name-quotes */
  font-family: 'Roboto', sans-serif;
}

.general_column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 566px;
  padding: 60px;
  background-color: var(--accent-background);
}

.gentwo {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.general_column_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;  
  padding: 60px;
  width: 566px;
  background-color: var(--accent-background);
}

.dropdownBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.text p {
  text-align: center;
}

.title {
  /* stylelint-disable-next-line font-family-name-quotes */
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.buttons {
  display: flex;
  gap: 24px;
}

.button {
  width: 100%;
  border-radius: 12px;
  padding: 12px 24px;
  color: currentColor;
  /* stylelint-disable-next-line font-family-name-quotes */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.message_btn {
  border: 1px solid var(--text-redesigned);
  background-color: var(--white-redesigned);
}

.message_btn:hover {
  border-color: var(--button-hover-color);
  color: var(--caption-redesigned);
}

.message_btn:active {
  border-color: var(--interaction-color);
  color: var(--text-redesigned);
}

.link_btn {
  border: none;
  background-color: var(--accent-redesigned);
}

.link_btn:hover {
  background-color: var(--button-hover-color);
}

.link_btn:active {
  background-color: var(--interaction-color);
}