.business {
  background-color: #eee7f7;
}

.art {
  background-color: #f7e7f2;
}

.languages {
  background-color: #ebe5c5;
}

.education {
  background-color: #e7f2f6;
}

.home {
  background-color: #f7ebe5;
}

.lifestyle {
  background-color: #e9f7e7;
}

.other {
  background-color: #e8ecf7;
}
