@import '../../../styles/variables.css';

.popover {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 60px;
    border: 1px solid var(--caption-redesigned);
    border-radius: 12px;
}

.not_visible {
    display: none;
}
