.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #F9FAF7;
}

.description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title { 
  font-size: 32px;
}

.button {
  background-color: white;
  padding: 12px 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.button_text {
  font-size: 16px;
}

.button_image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.button_image img {
  max-width: 100%;
  object-fit: contain;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
