.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--bg-color);
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 32px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 12px 26px;
  background-color: var(--accent-background);
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.button:hover {
  border-color: rgba(37, 48, 23, 0.75);
  color: rgba(37, 48, 23, 0.75);
}

.button:active {
  border-color: inherit;
  color: inherit;
}

.button_text {
  font-size: 16px;
}

.button_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.button_image img {
  max-width: 100%;
  object-fit: contain;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 26px 24px;
}
