.profile-form-container {
  width: 460px;
  height: 584px;
}

.age-gender-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 16px;
}

.gender-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.gender-label {
  font-size: 16px;
}

.gender-toggle {
  display: flex;
  border: 1px solid var(--caption-redesigned);
  border-radius: 12px;
  width: 214px;
  height: 48px;
  overflow: hidden;
}

.gender-button {
  flex: 1;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-family: 'Jost', sans-serif;
  cursor: pointer;
  padding: 12px 8px 12px 4px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.active {
  background-color: var(--button-hover-color);
  border-radius: 12px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.edit-wrapper {
  position: absolute;
  bottom: 12px;
  right: 20px;
  display: inline-flex;
  pointer-events: none;
  width: 24px;
  height: 24px;
}

.input-label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 6px;
  color: var(--text-primary);
  display: block;
}
