.container {
  display: flex;
  flex-direction: column;
  gap: 42px;
  border-radius: 12px;
  padding: 20px;
  background-color: var(--accent-background);
}

.title_container {
  display: flex;
  gap: 49px;
}

.title {
  font-size: 24px;
}

.button_reset {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--interaction-color);
}

.groups_container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
